*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: white;
}